* {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #efa927;
  padding: 2em 0;
  box-shadow: 0 0 20px black;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.page-header .header-title {
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-header {
    margin: 0.5em auto 0 auto;
    max-width: 900px;
    border-radius: 50% 50% 10px 10px;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.page-content .content-question {
  background-color: #fa4040;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  border-radius: 1em;
  padding: 2em 0;
  margin: 2em auto;
  box-shadow: 0 0 20px black;
  width: 90%;
}
.page-content .content-question .question-title {
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0 auto;
}
.page-content .content-question .question-list {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.page-content .content-question .question-list .list-item {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  height: 3em;
}
.page-content .content-question .question-list .list-item .item-checkbox {
  width: 1.5em;
  height: 1.5em;
  border: none;
  accent-color: #178501;
}
.page-content .content-question .question-list .list-item .item-text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1em;
  width: 80%;
}
.page-content .content-welcome {
  opacity: 0;
}
.page-content .content-welcome .welcome-title {
  color: #fff;
  text-align: center;
}
.page-content .content-welcome .welcome-text {
  display: block;
  font-size: 1.3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.page-content .content-welcome .welcome-text:nth-child(2) {
  margin-top: 2em;
}
.page-content .content-welcome .welcome-text:nth-child(2),
.page-content .content-welcome .welcome-text:nth-child(3) {
  margin-bottom: 1em;
}
.page-content .content-welcome .welcome-text:nth-child(3),
.page-content .content-welcome .welcome-text:nth-child(4) {
  margin-top: 0em;
}
.page-content .content-welcome .welcome-text:nth-child(4) {
  margin-bottom: 2em;
}
.page-content .content-welcome .welcome-start {
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #efa927;
  border-radius: 1em;
  border: none;
  box-shadow: 0 0 20px black;
  transition: background-color 0.2s, color 0.2s;
}
.page-content .content-welcome .welcome-start:hover {
  background-color: #fff;
  color: #efa927;
}
.page-content .content-result {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.page-content .content-welcome,
.page-content .content-result {
  width: 90%;
  background-image: linear-gradient(to bottom, #fa4040, #efa927);
  padding: 6em 0;
  margin: 1em auto;
  border-radius: 1em;
  box-shadow: 0 0 15px black;
}
.page-content .content-welcome p,
.page-content .content-welcome .result-title,
.page-content .content-result p,
.page-content .content-result .result-title {
  margin: 2em 0;
  text-align: center;
  color: #fff;
}
.page-content .content-welcome .result-text,
.page-content .content-result .result-text {
  font-size: 1.5rem;
}
.page-content .fade-in-anim {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.page-content .page-buttons {
  background-color: #929292;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 0 20px black;
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
}
.page-content .page-buttons button {
  width: 6em;
  height: 3em;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #efa927;
  border-radius: 1em;
  border: none;
  box-shadow: 0 0 20px black;
}
.page-content .page-buttons button:disabled {
  background-image: linear-gradient(to bottom right, black, grey, black, grey, black, grey, black, grey, black, grey, black, grey, black, grey, black, grey);
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
  .page-content {
    margin: 0 auto;
    max-width: 1000px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #68b9ef;
  width: 100vw;
}/*# sourceMappingURL=main.css.map */