@use "../abstract/vars" as *;

* {
    margin: 0;
    padding: 0;
}

.page-header{
    background-color: $CHeaderBackground;
    padding: 2em 0;
    box-shadow: 0 0 20px black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    .header-title{
        color: $CTitle;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .page-header{
        margin: 0.5em auto 0 auto;
        max-width: 900px;
        border-radius: 50% 50% 10px 10px;
    }
}